<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Zenui</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/static/styles.4154e53e924fd7329071.css"></head>
<body class="mat-typography">
  <app-root></app-root>
<script src="/static/runtime.012f56ef831d451b18f6.js" defer></script><script src="/static/polyfills.35a5ca1855eb057f016a.js" defer></script><script src="/static/main.8839a6da92b6690c5c8d.js" defer></script></body>
</html>
